<?xml version="1.0" encoding="utf-8"?>
<manifest>
  <uses-permission />
    <permission />
    <permission-tree />
    <permission-group />
    <instrumentation />
    <uses-sdk />
    <uses-configuration />
    <uses-feature />
    <supports-screens />
    <compatible-screens />
    <supports-gl-texture />
    <application>
      <activity
          android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
    </application>
</mainfest>
