body {
  margin: 0;
  font-family: "Work Sans";
}

/* Fonts */

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
}

@font-face {
  font-family: "Wellcome";
  src: url("../fonts/wellcome-bold-webfont.ttf") format("truetype"); /* Safari, Android, iOS */
}

.work-sans {
  font-family: "Work Sans";
}

.wellcome {
  font-family: "Wellcome";
}

/* Line Heights */

.lh-f1 {
  line-height: 56px;
}

.lh-f2 {
  line-height: 36px;
}

.lh-f3 {
  line-height: 28px;
}

.lh-f4 {
  line-height: 24px;
}

.lh-f5 {
  line-height: 22px;
}

.lh-f6 {
  line-height: 18px;
}

.lh-f7 {
  line-height: 13px;
}

/* Custom Sizes */

.vw-100 {
  width: 100vw;
}
.h-100vw {
  height: 100vw;
}

.mb1px {
  margin-bottom: 1px;
}

/* Custom Positions */

.top-4 {
  top: 4rem;
}

/* Custom Colours */

.bg-light-blue-tp {
  background-color: rgba(85, 148, 207, 0.4);
}

.top-4 {
  top: 4rem;
}
.bg-green-translucent {
  background-color: rgba(68, 150, 148, 0.9);
}

.translucent {
  background-color: rgba(255, 255, 255, 0.9);
}

/* Animations */

@keyframes breatheAnimation {
  0% {
    transform: scale(1);
  }
  2% {
    transform: scale(1.1);
  }
  4% {
    transform: scale(1.2);
  }
  6% {
    transform: scale(1.3);
  }
  8% {
    transform: scale(1.4);
  }
  10% {
    transform: scale(1.5);
  }
  12% {
    transform: scale(1.4);
  }
  14% {
    transform: scale(1.3);
  }
  16% {
    transform: scale(1.2);
  }
  18% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  22% {
    transform: scale(1.1);
  }
  24% {
    transform: scale(1.2);
  }
  26% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1.4);
  }
  30% {
    transform: scale(1.5);
  }
  32% {
    transform: scale(1.4);
  }
  34% {
    transform: scale(1.3);
  }
  36% {
    transform: scale(1.2);
  }
  38% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.breathe {
  display: block;
  animation-name: breatheAnimation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes exitNavAnimation {
  0% {
    transform: translateX(0rem);
    opacity: 1;
  }
  100% {
    transform: translateX(-7rem);
    opacity: 0;
  }
}
@keyframes enterNavAnimation {
  0% {
    transform: translateX(-7rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

.exitNav {
  animation-name: exitNavAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  transform: translateX(-7rem);
  opacity: 0;
}
.enterNav {
  animation-name: enterNavAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  transform: translateX(0rem);
  opacity: 1;
}

@keyframes blink {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  1% {
    transform: scaleX(1) scaleY(0);
  }
  10% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

.eye {
  animation-name: blink;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.background-avatar {
  width: 95vw;
}

.timer-font {
  font-family: "Wellcome";
  font-size: 72px;
  line-height: 96px;
}

/* Carousel */

.carousel-cell {
  opacity: 0.2;
  -webkit-overflow-scrolling: touch;
}

.carousel-cell.is-selected {
  opacity: 1;
}

.makecarousel {
  -webkit-overflow-scrolling: touch;
}

.dot.is-selected {
  background: var(--green);
  transform: scale(1.1);
  transition: 1s;
}

.smooth {
  transform: translate3d(0, 0, 0);
}

.slider {
  -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--green);
  width: 21px;
  height: 21px;
  cursor: pointer;
  border-radius: 50%;
}

/* Miscellaneous */

.h-custom {
  height: 8px;
}

.bg-green-translucent {
  background-color: rgba(68, 150, 148, 0.9);
}

.br--right {
  border-radius: 0 5rem 5rem 0;
}

.vis-hidden {
  visibility: hidden;
}

.show-child {
  visibility: visible;
}
