body {
  margin: 0;
}
/* fonts */

@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
}

@font-face {
  font-family: "Wellcome";
  src: url("./fonts/wellcome-bold-webfont.ttf") format("truetype"); /* Safari, Android, iOS */
}

.work-sans {
  font-family: "Work Sans";
}

.wellcome {
  font-family: "Wellcome";
}

.lh-f1 {
  line-height: 56px;
}

.lh-f2 {
  line-height: 36px;
}

.lh-f3 {
  line-height: 28px;
}

.lh-f4 {
  line-height: 24px;
}

.lh-f5 {
  line-height: 22px;
}

.lh-f6 {
  line-height: 18px;
}

.lh-f7 {
  line-height: 13px;
}

.timer-font {
  font-family: "Wellcome";
  font-size: 72px;
  line-height: 96px;
}

/* Carousel */

.carousel-cell {
  opacity: 0.2;
  -webkit-overflow-scrolling: touch;
}

.carousel-cell.is-selected {
  opacity: 1;
}

.makecarousel {
  -webkit-overflow-scrolling: touch;
}

.dot.is-selected {
  background: var(--green);
  transform: scale(1.1);
  transition: 1s;
}

.smooth {
  transform: translate3d(0, 0, 0);
}
