.lh-f1 {
  line-height: 56px;
}

.lh-f2 {
  line-height: 36px;
}

.lh-f3 {
  line-height: 28px;
}

.lh-f4 {
  line-height: 24px;
}

.lh-f5 {
  line-height: 22px;
}

.lh-f6 {
  line-height: 18px;
}

.lh-f7 {
  line-height: 13px;
}

/* Carousel */

.carousel-cell {
  width: 90vw;
  height: 76vh;
  opacity: 0.2;
  -webkit-overflow-scrolling: touch;
}

.carousel-cell.is-selected {
  opacity: 1;
}

.makecarousel {
  width: 400px;
  -webkit-overflow-scrolling: touch;
}

.dot.is-selected {
  background: var(--green);
  transform: scale(1.1);
  transition: 1s;
}

.smooth {
  transform: translate3d(0, 0, 0);
}
